In [1]:
import json
import os
import pandas as pd
from collections import defaultdict
import numpy

In [2]:
import numpy as np

In [3]:
import warnings

In [4]:
warnings.filterwarnings('ignore')

In [5]:
pd.set_option('display.max_columns', None) # view all columns

In [6]:
%run Extract.ipynb

In [7]:
# go into data directory
cur_dir = os.getcwd()
data_dir = r"C:\Users\jnunez\Documents\Projects\SFR B2R Community Clustering\Data\DBSCAN"

# import data from data file
os.chdir(data_dir)

In [8]:
# view files
files = sorted(os.listdir(data_dir))
files

['All_Core_Points (ignore).csv',
 "Clus_Match_clean (with Louis's - ignore - not a good metric).csv",
 'Clus_Match_unclean.csv',
 'Louis_Master_Lists_Merged_raw.csv',
 'Master_List_Clusters.csv',
 'Super_List_Clusters.csv',
 'b2r_master_list_all_cluster_evaluations.csv',
 'b2r_master_list_final.csv',
 'b2r_super_list_final.csv',
 'failed_b2r_master_list.csv',
 'failed_b2r_super_list.csv',
 'file_name.txt',
 'non-site_json1.txt']

In [9]:
super_list = pd.read_csv('b2r_super_list_final.csv')

In [10]:
super_list.head(2)

,UID,Name,Address,City,State,Zip,Owner Name,OwnerID,Latitude,Longitude,BlockFIPS,FIPSCode,StateFips,CLUSTERS_DBSCAN,Unique_Cluster,hash
0,332012856,AMH - 6043 Theodore Street,6043 Theodore Street,Las Vegas,NV,89081.0,AMH4R,3,36.270469,-115.120230,3.200300e+14,32003.0,32.0,0.0,NV_3_0,964266
1,303684489,AMH - 2006 Reaves Way,2006 Reaves Way,North Las Vegas,NV,89081.0,American Homes 4 Rent - Las Vegas,3,36.269628,-115.121217,3.200300e+14,32003.0,32.0,0.0,NV_3_0,964266

In [11]:
master_list = pd.read_csv('b2r_master_list_final.csv')
master_list

,State,OwnerID,CLUSTERS_DBSCAN,Num_Homes,Latitude,Longitude,City,Unique_Cluster,B2R_final_check
0,NV,3,0,166,36.270673,-115.120495,Las Vegas,NV_3_0,True
1,NV,3,1,74,36.256843,-115.122496,North Las Vegas,NV_3_1,True
2,NV,3,2,13,36.236204,-115.227261,Las Vegas,NV_3_2,True
3,NV,3,3,134,36.049038,-114.980929,Henderson,NV_3_3,True
4,NV,3,4,16,36.041480,-115.213039,Las Vegas,NV_3_4,True
...,...,...,...,...,...,...,...,...,...
537,AR,17,1,13,36.046932,-94.180920,Fayetteville,AR_17_1,True
538,OR,3,0,17,45.513564,-122.851695,Beaverton,OR_3_0,True
539,LA,17,0,38,30.408540,-91.010535,Baton Rouge,LA_17_0,True
540,LA,17,1,16,30.451468,-91.187147,Baton Rouge,LA_17_1,True
541,IA,17,0,17,41.686358,-93.762984,Johnston,IA_17_0,True

In [18]:
# change directory for importation
states_dir = r"T:\Single Family\SFR\02. DATABASE\JSON"
os.chdir(states_dir)

dir_files = os.listdir()

# get state data
dir_files = [file for file in dir_files if ".json" in file]
dir_files

['AL_sfr.json',
 'AR_sfr.json',
 'AZ_sfr.json',
 'CA_sfr.json',
 'CO_sfr.json',
 'CT_sfr.json',
 'DC_sfr.json',
 'DE_sfr.json',
 'FL_sfr.json',
 'GA_sfr.json',
 'HI_sfr.json',
 'IA_sfr.json',
 'ID_sfr.json',
 'IL_sfr.json',
 'IN_sfr.json',
 'KS_sfr.json',
 'KY_sfr.json',
 'LA_sfr.json',
 'MA_sfr.json',
 'MD_sfr.json',
 'MI_sfr.json',
 'MN_sfr.json',
 'MO_sfr.json',
 'MS_sfr.json',
 'MT_sfr.json',
 'NC_sfr.json',
 'ND_sfr.json',
 'NE_sfr.json',
 'NJ_sfr.json',
 'NM_sfr.json',
 'NV_sfr.json',
 'NY_sfr.json',
 'OH_sfr.json',
 'OK_sfr.json',
 'OR_sfr.json',
 'PA_sfr.json',
 'RI_sfr.json',
 'SC_sfr.json',
 'SD_sfr.json',
 'TN_sfr.json',
 'TX_sfr.json',
 'UT_sfr.json',
 'VA_sfr.json',
 'WA_sfr.json',
 'WI_sfr.json',
 'WV_sfr.json',
 'WY_sfr.json']

In [23]:
for state_file_name in dir_files:
    os.chdir(states_dir)
    clean_by_state(state_file_name)

AL
AR
AZ
CA
CO
CT
DC
DE
FL
GA
HI
IA
ID
IL
IN
KS
KY
LA
MA
MD
MI
MN
MO
MS
MT
NC
ND
NE
NJ
NM
NV
NY
OH
OK
OR
PA
RI
SC
SD
TN
TX
UT
VA
WA
WI
WV
WY

In [22]:
# concatenates and merges different data sets to have the 
# json file format we want

def clean_by_state(state_file_name):
    state = state_file_name[:2]
    print(state)

    # read file
    with open(state_file_name, 'r') as myfile:
        data = myfile.read()

    # parse file
    obj = json.loads(data)

    df = pd.DataFrame(obj)

    '''
    parsed_data = defaultdict(list)

    for entry in obj:
        recursive_parser(entry, parsed_data, "")

    d = dict(parsed_data)

    # dictionary to data frame
    ddf = pd.DataFrame(d)
    '''

    to_drop = ['UBID', 'AVMPrice', 'AdditionalFees',  'OwnerID', 'Vintage', 
               # 'AddressStreet', 'AddressCity', 'AddressState', 'AddressZip', 
               'Homebuilder']

    sfr = df.drop(to_drop, axis = 1)

    sfr = sfr.rename({'BCPID': 'UID', 
                      'AddressStreet': 'Street',
                      'AddressCity': 'City',
                      'AddressState': 'State',
                      'AddressZip': 'Zip'
                     }, axis =1)

    st_super = super_list.loc[super_list['State'] == state]


    # remove duplicates

    sfr['missing'] = [len(x) if type(x) == list else 0 for x in df['Rent']]


    sfr['City'] = sfr['City'].str.upper()

    dup_same_city_idx = sfr[sfr.duplicated(['UID', 'City'],keep=False)].sort_values(by='UID').index

    same_city = [1 if x in dup_same_city_idx else 0 for x in range(0, sfr.shape[0])]

    # same city

    sfr['dup_same_city'] = same_city
    last_column = sfr.pop('dup_same_city')
    sfr.insert(1, 'dup_same_city', last_column)
    last_column = sfr.pop('missing')
    sfr.insert(1, 'missing', last_column)
    dups = sfr[sfr.duplicated(['UID'],keep=False)].sort_values(by=['UID','dup_same_city'])

    # get ones with least amount of missing vals and that doesn't have a differing city from other dups
    not_same_city_idx = dups[dups['dup_same_city'] == 0].index 
    # drop
    sfr1 = sfr.drop(not_same_city_idx)

    # from dups with same cities, leave the one with the most information
    sfr1 = sfr1.sort_values(by=['UID','missing'])


    sfr2 =sfr1.drop_duplicates(['UID'],keep='last') # keep one with the least missing information, if same city


    # merge sfr and superlist using uid
    full = st_super.merge(sfr2,on='UID')


    # b2r had a very small amount of duplicates too
    full =full.drop_duplicates(['UID'],keep='first') 


    to_drop = ['missing', 'dup_same_city',
               'OwnerName',  'hash',
               # 'Unique_Cluster', # can't drop until the end (shortest way to make files for each indiv cluster!!)
               'City_y', 'State_y', 'Zip_y', 'Latitude_y', 'Longitude_y',]

    full = full.drop(to_drop, axis = 1)
    full.columns = full.columns.str.replace('_x', '').tolist()
    full['DateOnMarket'] = full['DateOnMarket'].str.split('T').str[0]
    full['DateOffMarket'] = full['DateOffMarket'].str.split('T').str[0]
    full['DateOffMarket'] = full['DateOffMarket'].str.split('T').str[0]
    full['DateOfObservation'] = [[x.split('T')[0] for x in l] for l in full['DateOfObservation'].tolist()]
    cluster_to_json(full, master_list, state)

In [21]:
# full refers to the full data set with UID and beds, baths, etc.
def cluster_to_json(full, master_list,state):
    clusters = master_list['Unique_Cluster'].tolist()
    clusters = [x for x in clusters if state in x]

    #clus = 'TX_4_0'
    for clus in clusters:
        # NON-SITE
        # non-site JSON converting ---------------------------
        # get list of rents, owners, etc for each home within this cluster
        clus_df = full.loc[full['Unique_Cluster'] == clus]

        # remove null values
        for index, row in clus_df.iterrows():
            if type(row['Rent']) == list:
                tdf = pd.DataFrame(list(zip(row['Rent'], row['DateOfObservation'])),
                           columns = ['rent', 'obsdates'])
                tdf = tdf.dropna()
                clus_df.at[index, 'DateOfObservation'] = tdf['obsdates'].tolist()
                clus_df.at[index, 'Rent'] = tdf['rent'].tolist()


        # df to json
        out = clus_df.drop(['Unique_Cluster'], axis = 1).to_json(orient='records')[1:-1]

        # save json
        os.chdir(r'T:\Single Family\SFR\02. DATABASE\JSON\B2R JSON Clusters') # save files in current directory
        with open(clus + '__B2R_cluster_non-site.json', 'w') as f:
            f.write("[")
            f.write(out)
            f.write("]")
        # ---------------------------------------------------

        # SITE
        site_clus_df = clus_df
        site_clus_df['Count'] = 1

        # ----------------------------
        # restructure
        site_clus_df['Bed'] = np.empty((len(site_clus_df), 0)).tolist()
        site_clus_df['Baths'] = np.empty((len(site_clus_df), 0)).tolist()
        site_clus_df['SQFT'] = np.empty((len(site_clus_df), 0)).tolist()

        for index, x in site_clus_df.iterrows(): #x is row
            # concatenate name description and set it to new column
            beds = x['Characteristics'].get('Beds')
            baths = x['Characteristics'].get('Baths')
            sqft = x['Characteristics'].get('SQFT')

            site_clus_df.at[index, 'Name'] = str(beds) + ' Bd ' + str(baths) + ' Bath ' + str(sqft) + ' Sqft'

            site_clus_df.at[index, 'Bed'] = beds
            site_clus_df.at[index, 'Baths'] = baths
            site_clus_df.at[index, 'SQFT'] = sqft

            # prepare other columns for future list concatenation
            if type(x['Rent']) != list:
                site_clus_df.at[index, 'Rent'] = [x['Rent']]
            if type(x['DateOfObservation']) != list:
                site_clus_df.at[index, 'DateOfObservation'] = [x['DateOfObservation']]
        # ----------------------------

        site_clus_df1 = site_clus_df.groupby(['Name'], as_index = False).agg({'Count': ['sum'], 
                                                                                'Rent': ['sum'], 
                                                                                'DateOfObservation': ['sum'],
                                                                              'Bed': ['first'],
                                                                              'Baths': ['first'],
                                                                              'SQFT': ['first']
                                                                                })
        site_clus_df1.columns = site_clus_df1.columns.droplevel(1)
        # ----------------------------

        for index, row in site_clus_df1.iterrows():
            tdf = pd.DataFrame(list(zip(row['Rent'], row['DateOfObservation'])),
                       columns = ['rent', 'obsdates'])
            #tdf = tdf.dropna()
            mon_avg = tdf.groupby(pd.PeriodIndex(tdf['obsdates'], freq="M"))['rent'].mean()
            site_clus_df1.at[index, 'DateOfObservation'] = [str(x) for x in mon_avg.index]
            site_clus_df1.at[index, 'Rent'] = [round(x,2) for x in list(mon_avg)]
        # ----------------------------

        site_clus_df1 = site_clus_df1.rename({'Count': 'CurrentObservedHouses'}, axis =1)


        # df to json
        out = site_clus_df1.to_json(orient='records')[1:-1] 

        # save json
        with open(clus + '__B2R_cluster_site_plan.json', 'w') as f:
            #f.write("[\"ClusterID\": " + str(clus))
            #f.write("\"Plan\": [")
            f.write("[")
            f.write(out)
            f.write("]")
            #f.write("]")
        # ---------------------------------------------------

In [13]:
#dir_files = ['FL_sfr.json']
#state_file_name = dir_files[0]

# Ignore

In [ ]:
stop

In [ ]:
#site_clus_df.assign(Name = lambda x: (str(x['Characteristics'].values[0].get('Beds')) + ' Bd' + str(x['Characteristics'].values[0].get('Baths')) + ' Bath' + str(x['Characteristics'].values[0].get('SQFT')) + ' Sqft'))

In [ ]:
# if you want uid, uncomment this 
# reference: https://stackoverflow.com/questions/23794082/pandas-groupby-and-join-lists
# (make sure to repeat uid for each item in list)
#site_clus_df1 = site_clus_df.groupby(['Beds', 'Baths', 'Sqft'], as_index = False).agg({'Count': ['sum'], 'Rent': ['sum'], 'DateofObservation': ['sum'], 'UID': lambda x: ' '.join(x)})

In [ ]:
'''
site_clus_df1['Name'] = site_clus_df1['Beds'].astype(str)  + ' Bed '+ site_clus_df1['Baths'].astype(str) + ' Bath ' + site_clus_df1['Sqft'].astype(str) + ' Sqft'
first_column = site_clus_df1.pop('Name')
site_clus_df1.insert(0, 'Name', first_column)
'''