## Finding B2R Communities
### best algo uses dbscan

In [1]:
import os
import pandas as pd
from datetime import datetime
import warnings

import matplotlib
%matplotlib inline
%config InlineBackend.figure_format = 'svg'
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import pandas as pd
import numpy as np
import seaborn as sns
from tqdm import tqdm
from sklearn.cluster import KMeans, DBSCAN
from sklearn.metrics import silhouette_score
from sklearn.datasets import make_blobs
from sklearn.neighbors import KNeighborsClassifier
from ipywidgets import interactive
from collections import defaultdict
import hdbscan
import folium
import re

sns.set(style="white")

In [2]:
warnings.filterwarnings('ignore')

In [3]:
cur_dir = os.getcwd()
cur_dir

'C:\\Users\\jnunez\\Documents\\Projects\\SFR B2R Community Clustering'

In [4]:
data_dir = cur_dir + '\\Data'

In [5]:
# import data from data file
os.chdir(data_dir)

# Upload

In [6]:
# view files
files = sorted(os.listdir(data_dir))
files

['DBSCAN',
 'HDBSCAN',
 'MasterList_B2R_02-01-2023.xlsx',
 'MasterList_B2R_03-08-2022.xlsx',
 'MasterList_B2R_07-13-2022.xlsx',
 'New folder',
 'Old Data & Output',
 'SFR_GeoTable.xlsx',
 'SuperList_B2R_02-01-2023.xlsx',
 'SuperList_B2R_03-08-2022.xlsx',
 'SuperList_B2R_07-13-2022.xlsx',
 'sfr_geofile.csv',
 'sfr_table.csv',
 '~$MasterList_B2R_02-01-2023.xlsx',
 '~$MasterList_B2R_03-08-2022.xlsx',
 '~$MasterList_B2R_07-13-2022.xlsx',
 '~$SuperList_B2R_02-01-2023.xlsx']

Note that SFR_GeoTable holds the latest info - use it and not the other sfr files

In [7]:
'''
# merge corresponding master files

master_files = [file for file in files if 'MasterList' in file]
# to check sfr clusters against with B2R column (Louis's supervised learning observed answer)
master_list = pd.DataFrame()
i = 0
for master in master_files:
    new = pd.read_excel(master)
    d = master.split('_')[-1][:-5] # get date from file and append as column date stamp
    new['date_stamp'] = d
    if i == 0:
        master_list = new
    else:
        master_list = pd.concat([master_list, new])
    i += 1

# merge corresponding super list files

super_files = [file for file in files if 'SuperList' in file]

super_list = pd.DataFrame()
i = 0
for s in super_files:
    new = pd.read_excel(s)
    d = s.split('_')[-1][:-5] # get date from file and append as column date stamp
    new['date_stamp'] = d
    if i == 0:
        super_list = new
    else:
        super_list = pd.concat([super_list, new])
    i += 1
'''

"\n# merge corresponding master files\n\nmaster_files = [file for file in files if 'MasterList' in file]\n# to check sfr clusters against with B2R column (Louis's supervised learning observed answer)\nmaster_list = pd.DataFrame()\ni = 0\nfor master in master_files:\n    new = pd.read_excel(master)\n    d = master.split('_')[-1][:-5] # get date from file and append as column date stamp\n    new['date_stamp'] = d\n    if i == 0:\n        master_list = new\n    else:\n        master_list = pd.concat([master_list, new])\n    i += 1\n\n# merge corresponding super list files\n\nsuper_files = [file for file in files if 'SuperList' in file]\n\nsuper_list = pd.DataFrame()\ni = 0\nfor s in super_files:\n    new = pd.read_excel(s)\n    d = s.split('_')[-1][:-5] # get date from file and append as column date stamp\n    new['date_stamp'] = d\n    if i == 0:\n        super_list = new\n    else:\n        super_list = pd.concat([super_list, new])\n    i += 1\n"

In [8]:
sfr_file = 'SFR_GeoTable.xlsx'
sfr = pd.read_excel(sfr_file) # to cluster this raw data set

In [9]:
# save output here
data_dir = cur_dir + '\\DATA\\DBSCAN'

# import data from data file
os.chdir(data_dir)

# Clean

In [10]:
999999 in sfr.OwnerID.unique().tolist()

True

In [11]:
sfr.UID.unique().tolist()

[100081864,
 100081941,
 100056833,
 100081726,
 100066786,
 100082055,
 100081936,
 100081808,
 100081855,
 100081991,
 100081949,
 100057287,
 100081868,
 100066078,
 100057913,
 100062164,
 100066704,
 100059666,
 100066585,
 100064280,
 100059943,
 100062693,
 100057160,
 100063615,
 100058754,
 100059428,
 100066688,
 100060147,
 100056823,
 100055683,
 100055658,
 100057804,
 100057173,
 100063235,
 100064217,
 100059180,
 100059421,
 100062544,
 100060151,
 100056867,
 100059326,
 100058858,
 100063293,
 100066506,
 100059445,
 100059232,
 100057172,
 100051868,
 100057610,
 100066589,
 100059241,
 100066620,
 100066106,
 100063458,
 100066057,
 100055587,
 100055601,
 100059267,
 100064177,
 100063682,
 100063192,
 100063172,
 100059319,
 100056950,
 100058957,
 100058790,
 100063280,
 100057279,
 100066796,
 100057765,
 100066231,
 100063186,
 100066741,
 100059565,
 100066767,
 100063201,
 100054292,
 100064628,
 100050549,
 100055207,
 100055243,
 100050782,
 100065087,
 100054281,
 100056432,
 100057820,
 100058296,
 100065036,
 100051114,
 100057672,
 100048475,
 100051105,
 100058214,
 100065314,
 100058032,
 100048458,
 100058419,
 100058417,
 100062581,
 100058019,
 100064168,
 100051451,
 100048459,
 100064083,
 100051343,
 100048389,
 100056972,
 100056440,
 100048437,
 100057096,
 100058603,
 100058393,
 100064184,
 100058670,
 100051435,
 100051493,
 100053732,
 100051822,
 100058526,
 100050756,
 100061038,
 100061530,
 100050376,
 100048428,
 100058107,
 100053865,
 100057687,
 100054278,
 100050501,
 100048558,
 100051227,
 100056468,
 100051112,
 100057620,
 100048568,
 100055135,
 100050874,
 100051198,
 100062400,
 100064562,
 100050489,
 100051371,
 100051522,
 100051484,
 100062252,
 100050736,
 100060506,
 100061171,
 100051154,
 100057969,
 100050969,
 100063759,
 100055396,
 100058511,
 100055212,
 100058647,
 100064527,
 100058579,
 100051428,
 100050504,
 100054231,
 100050907,
 100061227,
 100057097,
 100050824,
 100058220,
 100054199,
 100064623,
 100060774,
 100058075,
 100058077,
 100050437,
 100063922,
 100057991,
 100058534,
 100064557,
 100064667,
 100062588,
 100062277,
 100065126,
 100050776,
 100050886,
 100051162,
 100064733,
 100056343,
 100064765,
 100050387,
 100056030,
 100056456,
 100054286,
 100051430,
 100050629,
 100048463,
 100057816,
 100053818,
 100055220,
 100065727,
 100066385,
 100050912,
 100064022,
 100050880,
 100061225,
 100064039,
 100061316,
 100061219,
 100055947,
 100059779,
 100062814,
 100064415,
 100062611,
 100062278,
 100063723,
 100064524,
 100062616,
 100062223,
 100060764,
 100059823,
 100064551,
 100050751,
 100048335,
 100057756,
 100064438,
 100050977,
 100048499,
 100050870,
 100050456,
 100064972,
 100055167,
 100064507,
 100065897,
 100057034,
 100049338,
 100048026,
 100081654,
 100082214,
 100082218,
 100081621,
 100066816,
 100049539,
 100082229,
 100081642,
 100054144,
 100049892,
 100082175,
 100049692,
 100081670,
 100062166,
 100082158,
 100057374,
 100054457,
 100082146,
 100055935,
 100081666,
 100053267,
 100048241,
 100058294,
 100058302,
 100063268,
 100057861,
 100048088,
 100049032,
 100053347,
 100056319,
 100063447,
 100065194,
 100051644,
 100051719,
 100048319,
 100047547,
 100049862,
 100051680,
 100049115,
 100048307,
 100048599,
 100048323,
 100051942,
 100049035,
 100047601,
 100052022,
 100049726,
 100052500,
 100066072,
 100048049,
 100053087,
 100047963,
 100049628,
 100048228,
 100049360,
 100049082,
 100054677,
 100061906,
 100052707,
 100052824,
 100049786,
 100057364,
 100053030,
 100049707,
 100057350,
 100052023,
 100054472,
 100047769,
 100049627,
 100048262,
 100054927,
 100048657,
 100052314,
 100054540,
 100057380,
 100052053,
 100051725,
 100054091,
 100049432,
 100057517,
 100048272,
 100051629,
 100048688,
 100061941,
 100064228,
 100055037,
 100048684,
 100052496,
 100052654,
 100054110,
 100054168,
 100049788,
 100048258,
 100050309,
 100053337,
 100049280,
 100054094,
 100048637,
 100057538,
 100054415,
 100062939,
 100054532,
 100055063,
 100063469,
 100060787,
 100050332,
 100048060,
 100059035,
 100052195,
 100047766,
 100059367,
 100047614,
 100054422,
 100054474,
 100055799,
 100054518,
 100049377,
 100060145,
 100057339,
 100054705,
 100052332,
 100049433,
 100054973,
 100047585,
 100049685,
 100048853,
 100054615,
 100048123,
 100059837,
 100062998,
 100061715,
 100062894,
 100048291,
 100060334,
 100049783,
 100053330,
 100048133,
 100057325,
 100054511,
 100056282,
 100053991,
 100061690,
 100060203,
 100052162,
 100061542,
 100061822,
 100060172,
 100063052,
 100063317,
 100061825,
 100063294,
 100056259,
 100047533,
 100056334,
 100063092,
 100063121,
 100061003,
 100065185,
 100063307,
 100052424,
 100048083,
 100051674,
 100051974,
 100049453,
 100053263,
 100052725,
 100062418,
 100051555,
 100051544,
 100049690,
 100062146,
 100061023,
 100062970,
 100064373,
 100057422,
 100064811,
 100059888,
 100081599,
 100076713,
 100076332,
 100076707,
 100077821,
 100079914,
 100080262,
 100076560,
 100081272,
 100075886,
 100076177,
 100078829,
 100077196,
 100078738,
 100077794,
 100076299,
 100079916,
 100076538,
 100078766,
 100077702,
 100076442,
 100076470,
 100075439,
 100076362,
 100078257,
 100081233,
 100074463,
 100076420,
 100079976,
 100081273,
 100080913,
 100079443,
 100079989,
 100078827,
 100079080,
 100079326,
 100076383,
 100074203,
 100078590,
 100080519,
 100080552,
 100078744,
 100080514,
 100080910,
 100080899,
 100076423,
 100080064,
 100078448,
 100076341,
 100081183,
 100074328,
 100076285,
 100074451,
 100078476,
 100076934,
 100079479,
 100081265,
 100076486,
 100076337,
 100078831,
 100076526,
 100081539,
 100081441,
 100081074,
 100078982,
 100076467,
 100076618,
 100076213,
 100078846,
 100080627,
 100076757,
 100074456,
 100080291,
 100074472,
 100080970,
 100081429,
 100078426,
 100077137,
 100081325,
 100078256,
 100078527,
 100076088,
 100074790,
 100075191,
 100081087,
 100082216,
 100075164,
 100079967,
 100074986,
 100081069,
 100074995,
 100082277,
 100081398,
 100079422,
 100075277,
 100077814,
 100081675,
 100082145,
 100074081,
 100077165,
 100075563,
 100081049,
 100075693,
 100075642,
 100074896,
 100074774,
 100074946,
 100074210,
 100078526,
 100080144,
 100075014,
 100077812,
 100075967,
 100077884,
 100078580,
 100077817,
 100081331,
 100075130,
 100075005,
 100075483,
 100074123,
 100081564,
 100074287,
 100079398,
 100075163,
 100074238,
 100075471,
 100079554,
 100079510,
 100074782,
 100075297,
 100080319,
 100081359,
 100075655,
 100075288,
 100074209,
 100074846,
 100074683,
 100077887,
 100074958,
 100075785,
 100075287,
 100075689,
 100075295,
 100074900,
 100074735,
 100077843,
 100078458,
 100075576,
 100081341,
 100074752,
 100079526,
 100075622,
 100074103,
 100076127,
 100081390,
 100079659,
 100078429,
 100078176,
 100078377,
 100080388,
 100077525,
 100080788,
 100080193,
 100077972,
 100080792,
 100073901,
 100078595,
 100080567,
 100078333,
 100079493,
 100079112,
 100079258,
 100074435,
 100073908,
 100080840,
 100077214,
 100080206,
 100080221,
 100076674,
 100077581,
 100074370,
 100074568,
 100078163,
 100073940,
 100080374,
 100079640,
 100077497,
 100077644,
 100078193,
 100075908,
 100081356,
 100074018,
 100078279,
 100078258,
 100077468,
 100081024,
 100080655,
 100080946,
 100079606,
 100078797,
 100080428,
 100081484,
 100080590,
 100080883,
 100077871,
 100078125,
 100078262,
 100080923,
 100073891,
 100081456,
 100077868,
 100080301,
 100077723,
 100078843,
 100080872,
 100073890,
 100073897,
 100079621,
 100080041,
 100078416,
 100079210,
 100077526,
 100080592,
 100081403,
 100079854,
 100081032,
 100079712,
 100078038,
 100080617,
 100080073,
 100074149,
 100080559,
 100074445,
 100074355,
 100078886,
 100079053,
 100078507,
 100079215,
 100078171,
 100082276,
 100025733,
 100017520,
 100081650,
 100023640,
 100017271,
 100017812,
 100017375,
 100021930,
 100019114,
 100029454,
 100017808,
 100018317,
 100022003,
 100022347,
 100017500,
 100028209,
 100026432,
 100017321,
 100025202,
 100023797,
 100029368,
 100018216,
 100029770,
 100017830,
 100028021,
 100030169,
 100029408,
 100021779,
 100017892,
 100029350,
 100018228,
 100029519,
 100022623,
 100022650,
 100028274,
 100027930,
 100022070,
 100027185,
 100028263,
 100024066,
 100025719,
 100026763,
 100025241,
 100028448,
 100025668,
 100022849,
 100017832,
 100028445,
 100017709,
 100029488,
 100022109,
 100017539,
 100017226,
 100022138,
 100029979,
 100029959,
 100026461,
 100022336,
 100027216,
 100017957,
 100017797,
 100017385,
 100017444,
 100028213,
 100017472,
 100022793,
 100027742,
 100026286,
 100025195,
 100017672,
 100027238,
 100028415,
 100017421,
 100017345,
 100022377,
 100028016,
 100022019,
 100029924,
 100028971,
 100028333,
 100023847,
 100017517,
 100025109,
 100022811,
 100028436,
 100029470,
 100028185,
 100027862,
 100026457,
 100028321,
 100025783,
 100022641,
 100017686,
 100028976,
 100022164,
 100025227,
 100029897,
 100022805,
 100024141,
 100028181,
 100029611,
 100027189,
 100029010,
 100017600,
 100021985,
 100022191,
 100022820,
 100028370,
 100029728,
 100024140,
 100022353,
 100022675,
 100065854,
 100056628,
 100057688,
 100054919,
 100050172,
 100054796,
 100050541,
 100050528,
 100056126,
 100050720,
 100059056,
 100050442,
 100060867,
 100056631,
 100055982,
 100057803,
 100056665,
 100062840,
 100058943,
 100062810,
 100049957,
 100058104,
 100062352,
 100065898,
 100056039,
 100057749,
 100065287,
 100065838,
 100057884,
 100058133,
 100058135,
 100057563,
 100058348,
 100054802,
 100053182,
 100053834,
 100060649,
 100054879,
 100050089,
 100055426,
 100054753,
 100057618,
 100053909,
 100056018,
 100053677,
 100056088,
 100050457,
 100057709,
 100054832,
 100057637,
 100055957,
 100054797,
 100062390,
 100050589,
 100062545,
 100065630,
 100058163,
 100064959,
 100053230,
 100060847,
 100065894,
 100053916,
 100060636,
 100055964,
 100060965,
 100061498,
 100058137,
 100055515,
 100065223,
 100050028,
 100065360,
 100061319,
 100063807,
 100062847,
 100065850,
 100064367,
 100065289,
 100049964,
 100058578,
 100056696,
 100061024,
 100061128,
 100056068,
 100056589,
 100050087,
 100050183,
 100055998,
 100056083,
 100056118,
 100053778,
 100056478,
 100062678,
 100060481,
 100056531,
 100060496,
 100065920,
 100060699,
 100066013,
 100050693,
 100065271,
 100055320,
 100065676,
 100064809,
 100065646,
 100057648,
 100063499,
 100062635,
 100061330,
 100064941,
 100065238,
 100060860,
 100062801,
 100060945,
 100062764,
 100065522,
 100060854,
 100065662,
 100062521,
 100064348,
 100051361,
 100051251,
 100064627,
 100064086,
 100051331,
 100067967,
 100072437,
 100068519,
 100072896,
 100068667,
 100072696,
 100067578,
 100069729,
 100072547,
 100067433,
 100072591,
 100073612,
 100072034,
 100069701,
 100072778,
 100082256,
 100072887,
 100070338,
 100067436,
 100067890,
 100068296,
 100069099,
 100073538,
 100067631,
 100072305,
 100068219,
 100072433,
 100068002,
 100072798,
 100070020,
 100072610,
 100072758,
 100068184,
 100068186,
 100068660,
 100067834,
 100068567,
 100072435,
 100071881,
 100072281,
 100068198,
 100067596,
 100067256,
 100072575,
 100071955,
 100072731,
 100071994,
 100072846,
 100072184,
 100067316,
 100072796,
 100069638,
 100068502,
 100068714,
 100070283,
 100069959,
 100067394,
 100069055,
 100070254,
 100072399,
 100069922,
 100068555,
 100070210,
 100072734,
 100071857,
 100070228,
 100072051,
 100067804,
 100072029,
 100068222,
 100068156,
 100067429,
 100069945,
 100067884,
 100069689,
 100069793,
 100073618,
 100068482,
 100072770,
 100072537,
 100073607,
 100081967,
 100082059,
 100082219,
 100082339,
 100015940,
 100015002,
 100011620,
 100082288,
 100081789,
 100082222,
 100008128,
 100015864,
 100010574,
 100082273,
 100082230,
 100006247,
 100012391,
 100008337,
 100082164,
 100082203,
 100011843,
 100009480,
 100006694,
 100016721,
 100016109,
 100082228,
 100015369,
 100011164,
 100012559,
 100015597,
 100012979,
 100010527,
 ...]

In [12]:
sfr.shape

(410803, 13)

In [13]:
# remove non-institutional homes with UID = 999999 
sfr = sfr.loc[sfr['OwnerID'] != 999999]

In [14]:
sfr.shape

(317218, 13)

In [15]:
# clean superlist (indiv homes) from homes located outside of US territory
sfr_clean = sfr.loc[(sfr['Latitude'] <= 49.4) | (sfr['Latitude'] >= 24.5)] 
sfr_clean = sfr.loc[(sfr['Longitude'] <= -66.9) | (sfr['Longitude'] >= -125)]

In [16]:
sfr_clean.shape

(317217, 13)

In [17]:
states = sfr_clean.State.unique()
states

array(['NV', 'CA', 'AZ', 'TX', 'CO', 'NC', 'WA', 'GA', 'MN', 'IL', 'TN',
       'FL', 'SC', 'IN', nan, 'OK', 'KY', 'OH', 'MD', 'MI', 'MS', 'MO',
       'UT', 'AL', 'ID', 'VA', 'PA', 'NJ', 'NY', 'KS', 'Fl', 'MA', 'NM',
       'AR', 'CT', 'WY', 'DE', 'WI', 'OR', 'LA', 'IA', 'DC', 'RI', 'NE',
       'ga', 'Ga', 'Tx', 'TZ', 'Va', 'Co', 'Mo', 'Ky', 'oh'], dtype=object)

In [18]:
sfr_clean['State'] = sfr_clean['State'].str.upper()

In [19]:
# fix state names
sfr_clean = sfr_clean.replace({'State': {'ARKANSAS  3809 GLITTERMAN DRIVE': 'AK'}})

In [20]:
bad_states = ['ENGLAND', 'W', 'M 638', 'IDF', 'TZ']

In [21]:
sfr_clean = sfr_clean[sfr_clean['State'].isin(bad_states) == False]

In [22]:
states = sfr_clean.State.unique()
states

array(['NV', 'CA', 'AZ', 'TX', 'CO', 'NC', 'WA', 'GA', 'MN', 'IL', 'TN',
       'FL', 'SC', 'IN', nan, 'OK', 'KY', 'OH', 'MD', 'MI', 'MS', 'MO',
       'UT', 'AL', 'ID', 'VA', 'PA', 'NJ', 'NY', 'KS', 'MA', 'NM', 'AR',
       'CT', 'WY', 'DE', 'WI', 'OR', 'LA', 'IA', 'DC', 'RI', 'NE'],
      dtype=object)

In [23]:
sfr_clean.shape

(317216, 13)

In [24]:
sfr_clean['Latitude'].isna().values.any()

False

In [25]:
sfr_clean['Longitude'].isna().values.any()
# no missing lat/lon values --> don't drop rows

False

In [26]:
sfr_clean.duplicated(subset=['Latitude', 'Longitude']).values.any()
# it's okay to have duplicated values here

True

In [27]:
# geographic viz -- works
''' 
m = folium.Map(location=[sfr_clean.Latitude.mean(), sfr_clean.Longitude.mean()], zoom_start=9, 
               tiles='OpenStreet Map')
for _, row in sfr_clean.iterrows():
    folium.CircleMarker(
        location=[row.Latitude, row.Longitude],
        radius=5,
        popup=re.sub(r'[^a-zA-Z ]+', '', row.Name),
        color='#1787FE',
        fill=True,
        fill_colour='#1787FE'
    ).add_to(m)

m
'''

" \nm = folium.Map(location=[sfr_clean.Latitude.mean(), sfr_clean.Longitude.mean()], zoom_start=9, \n               tiles='OpenStreet Map')\nfor _, row in sfr_clean.iterrows():\n    folium.CircleMarker(\n        location=[row.Latitude, row.Longitude],\n        radius=5,\n        popup=re.sub(r'[^a-zA-Z ]+', '', row.Name),\n        color='#1787FE',\n        fill=True,\n        fill_colour='#1787FE'\n    ).add_to(m)\n\nm\n"

In [28]:
''' -- doesn't work
img_data = m._to_png(5)
img = Image.open(io.BytesIO(img_data))
img.save('mag.png')
'''

" -- doesn't work\nimg_data = m._to_png(5)\nimg = Image.open(io.BytesIO(img_data))\nimg.save('mag.png')\n"

# Cluster All

In [29]:
# cluster's color selections
cols = ['#e6194b', '#3cb44b', '#ffe119', '#4363d8', '#f58231', '#911eb4',
        '#46f0f0', '#f032e6', '#bcf60c', '#fabebe', '#008080', '#e6beff', 
        '#9a6324', '#fffac8', '#800000', '#aaffc3', '#808000', '#ffd8b1', 
        '#000075', '#808080', 
        '#7b194b', '#7b9df2', '#d62bb3', '#d6444f'
       ]*1000000

# fill in geographic map with made clusters
def create_map(this_df, cluster_column, cluster_owner):
    m = folium.Map(location=[this_df.Latitude.mean(), this_df.Longitude.mean()], zoom_start=9, tiles='OpenStreet Map')
    #print(this_df.shape[0])
    for index, row in this_df.iterrows():
        #print(index)
        #print(row[cluster_column])
        #print('--')
        if row[cluster_column] == -1:
            cluster_colour = '#000000'
        else:
            cluster_colour = cols[row[cluster_column]]
            folium.CircleMarker(
                        location= [row['Latitude'], row['Longitude']],
                        radius=5,
                        popup= row[cluster_owner],
                        color=cluster_colour,
                        fill=True,
                        fill_color=cluster_colour
            ).add_to(m)
        
    return m

In [30]:
states

array(['NV', 'CA', 'AZ', 'TX', 'CO', 'NC', 'WA', 'GA', 'MN', 'IL', 'TN',
       'FL', 'SC', 'IN', nan, 'OK', 'KY', 'OH', 'MD', 'MI', 'MS', 'MO',
       'UT', 'AL', 'ID', 'VA', 'PA', 'NJ', 'NY', 'KS', 'MA', 'NM', 'AR',
       'CT', 'WY', 'DE', 'WI', 'OR', 'LA', 'IA', 'DC', 'RI', 'NE'],
      dtype=object)

In [48]:
# save cluster id's in here
my_super_list = pd.DataFrame(columns = sfr_clean.columns)
my_master_list = pd.DataFrame(columns = ['State', 'OwnerID', 'CLUSTERS_DBSCAN', 'Num_Homes', 'Latitude', 'Longitude', 'City'])
#all_core_pts = pd.DataFrame(columns = sfr_clean.columns)
for state in states:
    print(state)
    df_st = sfr_clean.loc[sfr_clean['State'] == state]
    owner_ids = df_st['OwnerID'].unique()
    print(owner_ids)
    
    for owner_id in owner_ids:
        df_own = df_st.loc[df_st['OwnerID'] == owner_id]
        print(df_own.shape)
        lat_lon_df = df_own[['Latitude', 'Longitude']]

        # cluster
        # ----------------------------------

        # Parameters
        # The maximum distance between two samples for one to be considered as in the neighborhood of the other. 
        # This is not a maximum bound on the distances of points within a cluster. 
        EPS = 0.001

        # The number of samples (or total weight) in a neighborhood for a point to be considered as a core point. 
        # This includes the point itself.
        MIN_SAMPLES = 12

        #The power of the Minkowski metric to be used to calculate distance between points. 
        #If None, then p=2 (equivalent to the Euclidean distance).
        P = 4
        # ----------------------------------

        # cluster 
        model = DBSCAN(eps=EPS, min_samples=MIN_SAMPLES, p=P).fit(lat_lon_df)
        class_predictions = model.labels_
        df_own['CLUSTERS_DBSCAN'] = class_predictions
        #df_own.head(2)
        '''
        # indices of core points
        #core_pts_indices = model.core_sample_indices_ 
        #this_core_pts = df_own.iloc[core_pts_indices]
        # drop duplicates (two core points may be chosen if they were overlapping)
        #this_core_pts = this_core_pts.drop_duplicates(['Latitude','Longitude'], keep='last')
        #print('num core pts: ' + str(this_core_pts.shape[0]))
        #all_core_pts = pd.concat([all_core_pts, this_core_pts])
        '''
        # ----------------------------------
        # analyze visually and mathematically
        #m = create_map(df_own, 'CLUSTERS_DBSCAN')
        num_clusts = len(np.unique(class_predictions))
        print(f'Number of clusters found: {num_clusts}')
        if num_clusts > 1:
            print(f'Number of outliers found: {len(class_predictions[class_predictions==-1])}')
            #print(f'Silhouette ignoring outliers: {silhouette_score(lat_lon_df[class_predictions!=-1], class_predictions[class_predictions!=-1])}')
            #no_outliers = 0
            #no_outliers = np.array([(counter+2)*x if x==-1 else x for counter, x in enumerate(class_predictions)])
            #print(f'Silhouette outliers as singletons: {silhouette_score(lat_lon_df, no_outliers)}')

            # ----------------------------------
            # reformat for downloading
            '''
            this_clust = df_own.groupby(['State', 'OwnerID', 'CLUSTERS_DBSCAN']).agg({'Address':['count'],
                                                                         'Latitude':['mean'],
                                                                         'Longitude':['mean'],
                                                                         'City':['min'],
                                                                         #'Column':['count','sum','mean','std']
                                                                        })
            '''
            this_clust = df_own.groupby(['State', 'OwnerID', 'CLUSTERS_DBSCAN']).agg({'Address':['count'],
                                                                         'Latitude':['mean'],
                                                                         'Longitude':['mean']})
            cities = df_own.groupby(['State', 'OwnerID', 'CLUSTERS_DBSCAN'])['City'].first()
                                                                        
            this_clust.columns = this_clust.columns.droplevel(0)
            this_clust['City'] = cities
            this_clust.columns = ['Num_Homes', 'Latitude', 'Longitude', 'City']
            this_clust = this_clust.reset_index()
            this_clust = this_clust.drop(labels=0, axis=0)
            df_own = df_own.loc[df_own.CLUSTERS_DBSCAN != -1]

            # ----------------------------------
            # save results in super and master lists
            my_master_list = pd.concat([my_master_list, this_clust])
            my_super_list = pd.concat([my_super_list, df_own])
            
        print('-*-')

NV
[ 1  2  9  3  6 10 20  8]
(2204, 13)
num core pts: 2
Number of clusters found: 2
Number of outliers found: 2189
-*-
(928, 13)
num core pts: 0
Number of clusters found: 1
-*-
(3602, 13)
num core pts: 6
Number of clusters found: 4
Number of outliers found: 3566
-*-
(1749, 13)
num core pts: 634
Number of clusters found: 15
Number of outliers found: 1066
-*-
(1688, 13)
num core pts: 0
Number of clusters found: 1
-*-
(186, 13)
num core pts: 17
Number of clusters found: 3
Number of outliers found: 150
-*-
(341, 13)
num core pts: 0
Number of clusters found: 1
-*-
(264, 13)
num core pts: 0
Number of clusters found: 1
-*-
CA
[ 1  2 10  3 15  6]
(6119, 13)
num core pts: 0
Number of clusters found: 1
-*-
(509, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1134, 13)
num core pts: 1
Number of clusters found: 2
Number of outliers found: 1122
-*-
(92, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1, 13)
num core pts: 0
Number of clusters found: 1
-*-
AZ
[ 1  2  9  3 19  6 20  8 18 10 13 17 14]
(6107, 13)
num core pts: 48
Number of clusters found: 6
Number of outliers found: 5965
-*-
(676, 13)
num core pts: 89
Number of clusters found: 3
Number of outliers found: 576
-*-
(7448, 13)
num core pts: 113
Number of clusters found: 6
Number of outliers found: 7317
-*-
(2762, 13)
num core pts: 276
Number of clusters found: 6
Number of outliers found: 2476
-*-
(1240, 13)
num core pts: 0
Number of clusters found: 1
-*-
(2714, 13)
num core pts: 0
Number of clusters found: 1
-*-
(528, 13)
num core pts: 0
Number of clusters found: 1
-*-
(2195, 13)
num core pts: 76
Number of clusters found: 6
Number of outliers found: 2094
-*-
(1350, 13)
num core pts: 3
Number of clusters found: 2
Number of outliers found: 1338
-*-
(302, 13)
num core pts: 0
Number of clusters found: 1
-*-
(160, 13)
num core pts: 0
Number of clusters found: 1
-*-
(6, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1, 13)
num core pts: 0
Number of clusters found: 1
-*-
TX
[      1       2       9       3       8       4      16      21       6
      11      13      17      20      10 8888888       7      14      15]
(3588, 13)
num core pts: 17
Number of clusters found: 8
Number of outliers found: 3485
-*-
(5120, 13)
num core pts: 204
Number of clusters found: 13
Number of outliers found: 4627
-*-
(11545, 13)
num core pts: 871
Number of clusters found: 32
Number of outliers found: 10268
-*-
(6427, 13)
num core pts: 431
Number of clusters found: 19
Number of outliers found: 5833
-*-
(3699, 13)
num core pts: 306
Number of clusters found: 15
Number of outliers found: 3237
-*-
(6731, 13)
num core pts: 2644
Number of clusters found: 107
Number of outliers found: 900
-*-
(1142, 13)
num core pts: 65
Number of clusters found: 14
Number of outliers found: 827
-*-
(1474, 13)
num core pts: 40
Number of clusters found: 10
Number of outliers found: 1325
-*-
(6604, 13)
num core pts: 207
Number of clusters found: 15
Number of outliers found: 6265
-*-
(1597, 13)
num core pts: 28
Number of clusters found: 2
Number of outliers found: 1569
-*-
(876, 13)
num core pts: 0
Number of clusters found: 1
-*-
(489, 13)
num core pts: 49
Number of clusters found: 6
Number of outliers found: 385
-*-
(563, 13)
num core pts: 0
Number of clusters found: 1
-*-
(180, 13)
num core pts: 0
Number of clusters found: 1
-*-
(564, 13)
num core pts: 47
Number of clusters found: 11
Number of outliers found: 357
-*-
(228, 13)
num core pts: 0
Number of clusters found: 1
-*-
(7, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1, 13)
num core pts: 0
Number of clusters found: 1
-*-
CO
[ 1 12 10  3  8  9]
(2265, 13)
num core pts: 0
Number of clusters found: 1
-*-
(231, 13)
num core pts: 0
Number of clusters found: 1
-*-
(991, 13)
num core pts: 0
Number of clusters found: 1
-*-
(758, 13)
num core pts: 21
Number of clusters found: 2
Number of outliers found: 734
-*-
(378, 13)
num core pts: 0
Number of clusters found: 1
-*-
(608, 13)
num core pts: 54
Number of clusters found: 2
Number of outliers found: 552
-*-
NC
[      1       2       9       6       3       8      13      17      20
       5      10       7      16      15 8888888]
(4270, 13)
num core pts: 2
Number of clusters found: 3
Number of outliers found: 4239
-*-
(3808, 13)
num core pts: 51
Number of clusters found: 6
Number of outliers found: 3718
-*-
(6214, 13)
num core pts: 240
Number of clusters found: 11
Number of outliers found: 5884
-*-
(5252, 13)
num core pts: 15
Number of clusters found: 4
Number of outliers found: 5206
-*-
(5604, 13)
num core pts: 428
Number of clusters found: 18
Number of outliers found: 4985
-*-
(4517, 13)
num core pts: 108
Number of clusters found: 7
Number of outliers found: 4336
-*-
(397, 13)
num core pts: 0
Number of clusters found: 1
-*-
(261, 13)
num core pts: 48
Number of clusters found: 5
Number of outliers found: 187
-*-
(458, 13)
num core pts: 0
Number of clusters found: 1
-*-
(567, 13)
num core pts: 0
Number of clusters found: 1
-*-
(333, 13)
num core pts: 0
Number of clusters found: 1
-*-
(147, 13)
num core pts: 0
Number of clusters found: 1
-*-
(212, 13)
num core pts: 34
Number of clusters found: 4
Number of outliers found: 109
-*-
(82, 13)
num core pts: 0
Number of clusters found: 1
-*-
(4, 13)
num core pts: 0
Number of clusters found: 1
-*-
WA
[ 1  3 10  8]
(2837, 13)
num core pts: 2
Number of clusters found: 2
Number of outliers found: 2822
-*-
(966, 13)
num core pts: 156
Number of clusters found: 14
Number of outliers found: 702
-*-
(15, 13)
num core pts: 0
Number of clusters found: 1
-*-
(142, 13)
num core pts: 0
Number of clusters found: 1
-*-
GA
[      1       2       6      16       8       3       9      20      15
      17      13      11       7       5      10 8888888      12]
(7131, 13)
num core pts: 16
Number of clusters found: 6
Number of outliers found: 7062
-*-
(4238, 13)
num core pts: 27
Number of clusters found: 5
Number of outliers found: 4164
-*-
(5246, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1264, 13)
num core pts: 89
Number of clusters found: 13
Number of outliers found: 1037
-*-
(5333, 13)
num core pts: 37
Number of clusters found: 4
Number of outliers found: 5283
-*-
(5160, 13)
num core pts: 589
Number of clusters found: 32
Number of outliers found: 4243
-*-
(10489, 13)
num core pts: 388
Number of clusters found: 27
Number of outliers found: 9813
-*-
(1565, 13)
num core pts: 4
Number of clusters found: 2
Number of outliers found: 1551
-*-
(1160, 13)
num core pts: 0
Number of clusters found: 1
-*-
(449, 13)
num core pts: 73
Number of clusters found: 6
Number of outliers found: 290
-*-
(632, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1030, 13)
num core pts: 0
Number of clusters found: 1
-*-
(154, 13)
num core pts: 0
Number of clusters found: 1
-*-
(588, 13)
num core pts: 0
Number of clusters found: 1
-*-
(334, 13)
num core pts: 0
Number of clusters found: 1
-*-
(208, 13)
num core pts: 12
Number of clusters found: 2
Number of outliers found: 187
-*-
(41, 13)
num core pts: 0
Number of clusters found: 1
-*-
MN
[      1      16 8888888       6]
(725, 13)
num core pts: 0
Number of clusters found: 1
-*-
(73, 13)
num core pts: 6
Number of clusters found: 3
Number of outliers found: 46
-*-
(9, 13)
num core pts: 0
Number of clusters found: 1
-*-
(17, 13)
num core pts: 0
Number of clusters found: 1
-*-
IL
[      1      13       6       3       9      17 8888888      16]
(1409, 13)
num core pts: 0
Number of clusters found: 1
-*-
(284, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1103, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1052, 13)
num core pts: 0
Number of clusters found: 1
-*-
(19, 13)
num core pts: 0
Number of clusters found: 1
-*-
(7, 13)
num core pts: 0
Number of clusters found: 1
-*-
(5, 13)
num core pts: 0
Number of clusters found: 1
-*-
(4, 13)
num core pts: 0
Number of clusters found: 1
-*-
TN
[ 1  2  8  9  3  6 10  5 20 13 12 11 17 16]
(64, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1686, 13)
num core pts: 62
Number of clusters found: 4
Number of outliers found: 1602
-*-
(2495, 13)
num core pts: 79
Number of clusters found: 6
Number of outliers found: 2363
-*-
(6126, 13)
num core pts: 166
Number of clusters found: 14
Number of outliers found: 5818
-*-
(3305, 13)
num core pts: 563
Number of clusters found: 13
Number of outliers found: 2625
-*-
(1333, 13)
num core pts: 0
Number of clusters found: 1
-*-
(73, 13)
num core pts: 0
Number of clusters found: 1
-*-
(276, 13)
num core pts: 0
Number of clusters found: 1
-*-
(259, 13)
num core pts: 0
Number of clusters found: 1
-*-
(193, 13)
num core pts: 0
Number of clusters found: 1
-*-
(159, 13)
num core pts: 0
Number of clusters found: 1
-*-
(112, 13)
num core pts: 0
Number of clusters found: 1
-*-
(7, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1, 13)
num core pts: 0
Number of clusters found: 1
-*-
FL
[      1       2       9       8       6      17       3      16      15
      13      20 8888888      10       7]
(15980, 13)
num core pts: 10
Number of clusters found: 4
Number of outliers found: 15931
-*-
(4372, 13)
num core pts: 30
Number of clusters found: 3
Number of outliers found: 4311
-*-
(14643, 13)
num core pts: 360
Number of clusters found: 12
Number of outliers found: 14176
-*-
(9366, 13)
num core pts: 323
Number of clusters found: 10
Number of outliers found: 8943
-*-
(8562, 13)
num core pts: 131
Number of clusters found: 7
Number of outliers found: 8357
-*-
(357, 13)
num core pts: 61
Number of clusters found: 5
Number of outliers found: 266
-*-
(5857, 13)
num core pts: 885
Number of clusters found: 32
Number of outliers found: 4724
-*-
(1487, 13)
num core pts: 187
Number of clusters found: 23
Number of outliers found: 738
-*-
(99, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1131, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1093, 13)
num core pts: 0
Number of clusters found: 1
-*-
(402, 13)
num core pts: 70
Number of clusters found: 11
Number of outliers found: 174
-*-
(348, 13)
num core pts: 0
Number of clusters found: 1
-*-
(147, 13)
num core pts: 0
Number of clusters found: 1
-*-
SC
[      1       2       3       5       6       9      17      10      13
      16      11       8       7 8888888]
(4, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1000, 13)
num core pts: 0
Number of clusters found: 1
-*-
(2110, 13)
num core pts: 277
Number of clusters found: 10
Number of outliers found: 1753
-*-
(1812, 13)
num core pts: 6
Number of clusters found: 2
Number of outliers found: 1798
-*-
(664, 13)
num core pts: 0
Number of clusters found: 1
-*-
(599, 13)
num core pts: 323
Number of clusters found: 13
Number of outliers found: 114
-*-
(130, 13)
num core pts: 36
Number of clusters found: 3
Number of outliers found: 76
-*-
(36, 13)
num core pts: 0
Number of clusters found: 1
-*-
(76, 13)
num core pts: 0
Number of clusters found: 1
-*-
(63, 13)
num core pts: 2
Number of clusters found: 2
Number of outliers found: 46
-*-
(61, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1, 13)
num core pts: 0
Number of clusters found: 1
-*-
(20, 13)
num core pts: 0
Number of clusters found: 1
-*-
(8, 13)
num core pts: 0
Number of clusters found: 1
-*-
IN
[      2       6       3       5       9       8       7      10      20
      13      16      17 8888888]
(1537, 13)
num core pts: 0
Number of clusters found: 1
-*-
(2785, 13)
num core pts: 5
Number of clusters found: 2
Number of outliers found: 2763
-*-
(2125, 13)
num core pts: 0
Number of clusters found: 1
-*-
(537, 13)
num core pts: 0
Number of clusters found: 1
-*-
(2038, 13)
num core pts: 0
Number of clusters found: 1
-*-
(955, 13)
num core pts: 0
Number of clusters found: 1
-*-
(184, 13)
num core pts: 0
Number of clusters found: 1
-*-
(82, 13)
num core pts: 0
Number of clusters found: 1
-*-
(256, 13)
num core pts: 0
Number of clusters found: 1
-*-
(114, 13)
num core pts: 0
Number of clusters found: 1
-*-
(48, 13)
num core pts: 1
Number of clusters found: 2
Number of outliers found: 32
-*-
(23, 13)
num core pts: 0
Number of clusters found: 1
-*-
(24, 13)
num core pts: 0
Number of clusters found: 1
-*-
nan
[]
OK
[      3      13      16       8      10       9       7 8888888      17]
(16, 13)
num core pts: 0
Number of clusters found: 1
-*-
(61, 13)
num core pts: 0
Number of clusters found: 1
-*-
(176, 13)
num core pts: 15
Number of clusters found: 2
Number of outliers found: 152
-*-
(818, 13)
num core pts: 66
Number of clusters found: 3
Number of outliers found: 734
-*-
(154, 13)
num core pts: 0
Number of clusters found: 1
-*-
(153, 13)
num core pts: 0
Number of clusters found: 1
-*-
(36, 13)
num core pts: 0
Number of clusters found: 1
-*-
(35, 13)
num core pts: 0
Number of clusters found: 1
-*-
(190, 13)
num core pts: 4
Number of clusters found: 4
Number of outliers found: 151
-*-
KY
[ 3  8  5  6 10  9 17]
(349, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1214, 13)
num core pts: 78
Number of clusters found: 4
Number of outliers found: 1125
-*-
(99, 13)
num core pts: 0
Number of clusters found: 1
-*-
(13, 13)
num core pts: 0
Number of clusters found: 1
-*-
(32, 13)
num core pts: 0
Number of clusters found: 1
-*-
(38, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1, 13)
num core pts: 0
Number of clusters found: 1
-*-
OH
[ 9  3 10  5  6  8 13 17]
(926, 13)
num core pts: 0
Number of clusters found: 1
-*-
(2607, 13)
num core pts: 0
Number of clusters found: 1
-*-
(120, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1101, 13)
num core pts: 0
Number of clusters found: 1
-*-
(907, 13)
num core pts: 0
Number of clusters found: 1
-*-
(599, 13)
num core pts: 0
Number of clusters found: 1
-*-
(234, 13)
num core pts: 0
Number of clusters found: 1
-*-
(5, 13)
num core pts: 0
Number of clusters found: 1
-*-
MD
[     16      13      10       7       9 8888888      15]
(44, 13)
num core pts: 1
Number of clusters found: 2
Number of outliers found: 29
-*-
(246, 13)
num core pts: 0
Number of clusters found: 1
-*-
(409, 13)
num core pts: 0
Number of clusters found: 1
-*-
(31, 13)
num core pts: 0
Number of clusters found: 1
-*-
(11, 13)
num core pts: 0
Number of clusters found: 1
-*-
(9, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1, 13)
num core pts: 0
Number of clusters found: 1
-*-
MI
[10]
(52, 13)
num core pts: 0
Number of clusters found: 1
-*-
MS
[ 5  9  3 20 17  8  6]
(629, 13)
num core pts: 2
Number of clusters found: 2
Number of outliers found: 616
-*-
(1656, 13)
num core pts: 7
Number of clusters found: 3
Number of outliers found: 1626
-*-
(179, 13)
num core pts: 0
Number of clusters found: 1
-*-
(155, 13)
num core pts: 0
Number of clusters found: 1
-*-
(45, 13)
num core pts: 15
Number of clusters found: 2
Number of outliers found: 13
-*-
(97, 13)
num core pts: 0
Number of clusters found: 1
-*-
(66, 13)
num core pts: 0
Number of clusters found: 1
-*-
MO
[ 6  8  5 20 10  9 17]
(2475, 13)
num core pts: 1
Number of clusters found: 2
Number of outliers found: 2463
-*-
(2466, 13)
num core pts: 103
Number of clusters found: 8
Number of outliers found: 2287
-*-
(910, 13)
num core pts: 0
Number of clusters found: 1
-*-
(549, 13)
num core pts: 30
Number of clusters found: 2
Number of outliers found: 503
-*-
(23, 13)
num core pts: 0
Number of clusters found: 1
-*-
(248, 13)
num core pts: 9
Number of clusters found: 5
Number of outliers found: 178
-*-
(28, 13)
num core pts: 0
Number of clusters found: 1
-*-
UT
[ 3 14  9 10  8]
(1577, 13)
num core pts: 461
Number of clusters found: 10
Number of outliers found: 1027
-*-
(438, 13)
num core pts: 167
Number of clusters found: 5
Number of outliers found: 189
-*-
(474, 13)
num core pts: 0
Number of clusters found: 1
-*-
(69, 13)
num core pts: 0
Number of clusters found: 1
-*-
(51, 13)
num core pts: 0
Number of clusters found: 1
-*-
AL
[      5       8       6      17      16       9      12 8888888      15
      20]
(1811, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1077, 13)
num core pts: 35
Number of clusters found: 3
Number of outliers found: 1033
-*-
(1026, 13)
num core pts: 18
Number of clusters found: 2
Number of outliers found: 991
-*-
(375, 13)
num core pts: 10
Number of clusters found: 4
Number of outliers found: 322
-*-
(237, 13)
num core pts: 0
Number of clusters found: 1
-*-
(248, 13)
num core pts: 0
Number of clusters found: 1
-*-
(279, 13)
num core pts: 0
Number of clusters found: 1
-*-
(82, 13)
num core pts: 0
Number of clusters found: 1
-*-
(84, 13)
num core pts: 0
Number of clusters found: 1
-*-
(142, 13)
num core pts: 0
Number of clusters found: 1
-*-
ID
[13  3 14]
(1505, 13)
num core pts: 702
Number of clusters found: 34
Number of outliers found: 438
-*-
(676, 13)
num core pts: 188
Number of clusters found: 6
Number of outliers found: 403
-*-
(28, 13)
num core pts: 0
Number of clusters found: 1
-*-
VA
[     10 8888888      13]
(210, 13)
num core pts: 0
Number of clusters found: 1
-*-
(3, 13)
num core pts: 0
Number of clusters found: 1
-*-
(1, 13)
num core pts: 0
Number of clusters found: 1
-*-
PA
[13 20 10]
(255, 13)
num core pts: 0
Number of clusters found: 1
-*-
(16, 13)
num core pts: 0
Number of clusters found: 1
-*-
(2, 13)
num core pts: 0
Number of clusters found: 1
-*-
NJ
[13  9]
(607, 13)
num core pts: 0
Number of clusters found: 1
-*-
(53, 13)
num core pts: 0
Number of clusters found: 1
-*-
NY
[13]
(411, 13)
num core pts: 0
Number of clusters found: 1
-*-
KS
[ 8  6  5 10]
(170, 13)
num core pts: 0
Number of clusters found: 1
-*-
(192, 13)
num core pts: 0
Number of clusters found: 1
-*-
(67, 13)
num core pts: 0
Number of clusters found: 1
-*-
(15, 13)
num core pts: 0
Number of clusters found: 1
-*-
MA
[13]
(89, 13)
num core pts: 0
Number of clusters found: 1
-*-
NM
[ 3 10 13]
(184, 13)
num core pts: 0
Number of clusters found: 1
-*-
(41, 13)
num core pts: 0
Number of clusters found: 1
-*-
(117, 13)
num core pts: 0
Number of clusters found: 1
-*-
AR
[12 17 18]
(69, 13)
num core pts: 0
Number of clusters found: 1
-*-
(96, 13)
num core pts: 45
Number of clusters found: 3
Number of outliers found: 49
-*-
(1, 13)
num core pts: 0
Number of clusters found: 1
-*-
CT
[13]
(140, 13)
num core pts: 0
Number of clusters found: 1
-*-
WY
[10]
(29, 13)
num core pts: 0
Number of clusters found: 1
-*-
DE
[13]
(57, 13)
num core pts: 0
Number of clusters found: 1
-*-
WI
[ 3 10 20]
(65, 13)
num core pts: 0
Number of clusters found: 1
-*-
(91, 13)
num core pts: 0
Number of clusters found: 1
-*-
(34, 13)
num core pts: 0
Number of clusters found: 1
-*-
OR
[3]
(126, 13)
num core pts: 7
Number of clusters found: 2
Number of outliers found: 109
-*-
LA
[17]
(141, 13)
num core pts: 6
Number of clusters found: 3
Number of outliers found: 87
-*-
IA
[17 10]
(24, 13)
num core pts: 6
Number of clusters found: 2
Number of outliers found: 7
-*-
(3, 13)
num core pts: 0
Number of clusters found: 1
-*-
DC
[10]
(3, 13)
num core pts: 0
Number of clusters found: 1
-*-
RI
[13]
(29, 13)
num core pts: 0
Number of clusters found: 1
-*-
NE
[10]
(11, 13)
num core pts: 0
Number of clusters found: 1
-*-

In [32]:
my_master_list

,State,OwnerID,CLUSTERS_DBSCAN,Num_Homes,Latitude,Longitude,City
1,NV,1,0,15,36.229434,-115.329017,Las Vegas
1,NV,9,0,12,36.277574,-115.140917,North Las Vegas
2,NV,9,1,12,36.273532,-115.127017,North Las Vegas
3,NV,9,2,12,36.312687,-115.303807,Las Vegas
1,NV,3,0,166,36.270673,-115.120495,Las Vegas
...,...,...,...,...,...,...,...
2,AR,17,1,13,36.046932,-94.180920,Fayetteville
1,OR,3,0,17,45.513564,-122.851695,Beaverton
1,LA,17,0,38,30.408540,-91.010535,Baton Rouge
2,LA,17,1,16,30.451468,-91.187147,Baton Rouge
1,IA,17,0,17,41.686358,-93.762984,Johnston

In [33]:
my_super_list

,UID,Name,Address,City,State,Zip,Owner Name,OwnerID,Latitude,Longitude,BlockFIPS,FIPSCode,StateFips,CLUSTERS_DBSCAN
51,100066620,INVH - 10627 Gibbous Moon Dr,10627 Gibbous Moon Dr,Las Vegas,NV,89129.0,Invitation Homes,1,36.229510,-115.328410,3.200300e+14,32003.0,32.0,0.0
3156,100066625,INVH - 10631 Gibbous Moon Dr,10631 Gibbous Moon Dr,Las Vegas,NV,89129.0,Invitation Homes,1,36.229000,-115.329000,3.200300e+14,32003.0,32.0,0.0
5770,100066621,INVH - 10619 Gibbous Moon Dr,10619 Gibbous Moon Dr,Las Vegas,NV,89129.0,Invitation Homes,1,36.229510,-115.328410,3.200300e+14,32003.0,32.0,0.0
23747,100066630,INVH - 10639 W Gilmore Ave,10639 W Gilmore Ave,Las Vegas,NV,89129.0,Invitation Homes,1,36.229000,-115.329000,3.200300e+14,32003.0,32.0,0.0
27609,100066619,INVH - 10639 Gibbous Moon Dr,10639 Gibbous Moon Dr,Las Vegas,NV,89129.0,Invitation Homes,1,36.229000,-115.329000,3.200300e+14,32003.0,32.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264085,1704028378,Kairos - 6909 Holly Ct,6909 Holly Ct,Johnston,IA,50131.0,Kairos Living,17,41.686423,-93.762987,1.915301e+14,19153.0,19.0,0.0
315514,1704082751,Kairos - 6936 Holly Ct,6936 Holly Ct,Johnston,IA,50131.0,Kairos Living,17,41.686423,-93.762987,1.915301e+14,19153.0,19.0,0.0
317680,1704082748,Kairos - 6944 Holly Ct,6944 Holly Ct,Johnston,IA,50131.0,Kairos Living,17,41.686423,-93.762987,1.915301e+14,19153.0,19.0,0.0
342974,1703982907,Kairos - 6916 Holly Ct,6916 Holly Ct,Johnston,IA,50131.0,Kairos Living,17,41.686423,-93.762987,1.915301e+14,19153.0,19.0,0.0
408119,1704082747,Kairos - 6940 Holly Ct,6940 Holly Ct,Johnston,IA,50131.0,Kairos Living,17,41.686423,-93.762987,1.915301e+14,19153.0,19.0,0.0

In [34]:
my_super_list['Unique_Cluster'] = my_super_list.apply(lambda row: row['State'] + '_' + str(row['OwnerID']) + '_' + str(int(row['CLUSTERS_DBSCAN'])), axis=1)

In [35]:
# hash for coloring
import hashlib
#hash = hashlib.sha1(str.encode(s)).hexdigest() # you need to encode the strings into bytes here
num_digits = 6
my_super_list['hash'] = my_super_list.apply(lambda row: int(hashlib.sha256(row['Unique_Cluster'].encode('utf-8')).hexdigest(), 16) % 10**num_digits, axis = 1)

In [36]:
my_master_list

,State,OwnerID,CLUSTERS_DBSCAN,Num_Homes,Latitude,Longitude,City
1,NV,1,0,15,36.229434,-115.329017,Las Vegas
1,NV,9,0,12,36.277574,-115.140917,North Las Vegas
2,NV,9,1,12,36.273532,-115.127017,North Las Vegas
3,NV,9,2,12,36.312687,-115.303807,Las Vegas
1,NV,3,0,166,36.270673,-115.120495,Las Vegas
...,...,...,...,...,...,...,...
2,AR,17,1,13,36.046932,-94.180920,Fayetteville
1,OR,3,0,17,45.513564,-122.851695,Beaverton
1,LA,17,0,38,30.408540,-91.010535,Baton Rouge
2,LA,17,1,16,30.451468,-91.187147,Baton Rouge
1,IA,17,0,17,41.686358,-93.762984,Johnston

In [37]:
my_super_list.head(1)

,UID,Name,Address,City,State,Zip,Owner Name,OwnerID,Latitude,Longitude,BlockFIPS,FIPSCode,StateFips,CLUSTERS_DBSCAN,Unique_Cluster,hash
51,100066620,INVH - 10627 Gibbous Moon Dr,10627 Gibbous Moon Dr,Las Vegas,NV,89129.0,Invitation Homes,1,36.22951,-115.32841,3.200300e+14,32003.0,32.0,0.0,NV_1_0,54793

In [38]:
my_master_list['Unique_Cluster'] = my_master_list.apply(lambda row: row['State'] + '_' + str(row['OwnerID']) + '_' + str(int(row['CLUSTERS_DBSCAN'])), axis=1)

In [39]:
my_super_list.to_csv('Super_List_Clusters.csv', header = True, index = False)

In [40]:
my_master_list.to_csv('Master_List_Clusters.csv', header = True, index = False)

In [ ]:
create_map(my_super_list, 'hash', 'Owner Name')

# Ignore

In [ ]:
stop

In [ ]:
# scatter plot viz -- works but not useful
#X = np.array(sfr_clean[['Latitude', 'Longitude']], dtype='float64')
#plt.scatter(X[:,0], X[:,1], alpha=0.2, s=50)

In [ ]:
#date_stamps = super_list.date_stamp.unique()
#this_date = super_list.loc[super_list['date_stamp'] == date_stamps[0]]

df_st = sfr_clean.loc[sfr_clean['State'] == 'TX']

# switch between 1 and 4 (INVH and Camillo, or no B2R and yes B2R)
CODE = 1 

df_own = df_st.loc[df_st['OwnerID'] == CODE]
df_own = df_own.reset_index()
lat_lon_df = df_own[['Latitude', 'Longitude']]

In [ ]:
# cluster
#dummy = np.array([-1, -1, -1, 2, 3, 4, 5, -1])
#new = np.array([(counter+2)*x if x==-1 else x for counter, x in enumerate(dummy)])
# ----------------------------------

# Parameters
# The maximum distance between two samples for one to be considered as in the neighborhood of the other. 
# This is not a maximum bound on the distances of points within a cluster. 
EPS = 0.001

# The number of samples (or total weight) in a neighborhood for a point to be considered as a core point. 
# This includes the point itself.
MIN_SAMPLES = 6

#The power of the Minkowski metric to be used to calculate distance between points. 
#If None, then p=2 (equivalent to the Euclidean distance).
P = 4
# ----------------------------------

model = DBSCAN(eps=EPS, min_samples=MIN_SAMPLES, p=P).fit(lat_lon_df)
class_predictions = model.labels_
df_own['CLUSTERS_DBSCAN'] = class_predictions
df_own.head(2)

In [ ]:
m = create_map(df_own, 'CLUSTERS_DBSCAN')
print(f'Number of clusters found: {len(np.unique(class_predictions))}')
print(f'Number of outliers found: {len(class_predictions[class_predictions==-1])}')
print(f'Silhouette ignoring outliers: {silhouette_score(lat_lon_df[class_predictions!=-1], class_predictions[class_predictions!=-1])}')

no_outliers = 0
no_outliers = np.array([(counter+2)*x if x==-1 else x for counter, x in enumerate(class_predictions)])
print(f'Silhouette outliers as singletons: {silhouette_score(lat_lon_df, no_outliers)}')

In [ ]:
m

In [ ]:
#date_stamps = super_list.date_stamp.unique()
#this_date = super_list.loc[super_list['date_stamp'] == date_stamps[0]]

df_st = sfr_clean.loc[sfr_clean['State'] == 'TX']

# switch between 1 and 4 (INVH and Camillo, or no B2R and yes B2R)
CODE = 1 

df_own = df_st.loc[df_st['OwnerID'] == CODE]
#df_own = df_own.reset_index()
lat_lon_df = df_own[['Latitude', 'Longitude']]

# cluster
#dummy = np.array([-1, -1, -1, 2, 3, 4, 5, -1])
#new = np.array([(counter+2)*x if x==-1 else x for counter, x in enumerate(dummy)])
# ----------------------------------

# Parameters
# The maximum distance between two samples for one to be considered as in the neighborhood of the other. 
# This is not a maximum bound on the distances of points within a cluster. 
EPS = 0.001

# The number of samples (or total weight) in a neighborhood for a point to be considered as a core point. 
# This includes the point itself.
MIN_SAMPLES = 7

#The power of the Minkowski metric to be used to calculate distance between points. 
#If None, then p=2 (equivalent to the Euclidean distance).
P = 4
# ----------------------------------

model = DBSCAN(eps=EPS, min_samples=MIN_SAMPLES, p=P).fit(lat_lon_df)
class_predictions = model.labels_
df_own['CLUSTERS_DBSCAN'] = class_predictions
df_own.head(2)

'''
m = create_map(df_own, 'CLUSTERS_DBSCAN')
print(f'Number of clusters found: {len(np.unique(class_predictions))}')
print(f'Number of outliers found: {len(class_predictions[class_predictions==-1])}')
print(f'Silhouette ignoring outliers: {silhouette_score(lat_lon_df[class_predictions!=-1], class_predictions[class_predictions!=-1])}')

no_outliers = 0
no_outliers = np.array([(counter+2)*x if x==-1 else x for counter, x in enumerate(class_predictions)])
print(f'Silhouette outliers as singletons: {silhouette_score(lat_lon_df, no_outliers)}')
'''

this_clust = df_own.groupby(['State', 'OwnerID', 'CLUSTERS_DBSCAN']).agg({'Address':['count'],
                                                             'Latitude':['mean'],
                                                             'Longitude':['mean'],
                                                             #'City':['mode'],
                                                             #'City':['count','sum','mean','std']
                                                            })
this_clust.columns = this_clust.columns.droplevel(0)
this_clust.columns = ['Num_Homes', 'Latitude', 'Longitude']
this_clust = this_clust.reset_index()
my_master_list = my_master_list.drop(labels=0, axis=0)
my_super_list = my_super_list.loc[my_super_list.CLUSTERS_DBSCAN != -1]

# save results in super and master lists
my_master_list = pd.concat([my_master_list, this_clust])
my_super_list = pd.concat([my_super_list, df_own])